body {
    background-image: url("images/mountains2.jpg");
    background-position: top;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(69, 160, 206);
    font-family: "Oswald", sanserif;
  }
  
  .caption,
  a:link,
  a:visited,
  .current-city-high-low,
  .current-city-name,
  .current-city-temperature,
  .day-time,
  .meteo-parameter-name,
  .meteo-parameter-value,
  .searched-cities,
  .weather-descriptor {
    color: rgb(233, 233, 233);
    text-align: center;
  }
  
  .current-city-name,
  .current-city-temperature,
  .meteo-parameter-name,
  .searched-cities,
  .search-text {
    text-transform: uppercase;
  }
  
  .current-city-name,
  .current-city-temperature {
    font-size: 42px;
    line-height: 46px;
  }
  
  .caption,
  .meteo-parameter-value {
    font-size: 20px;
  }
  
  .current-city-high-low,
  .searched-cities,
  .temperature-high {
    font-size: 16px;
    line-height: 18px;
  }
  
  .day-time,
  .search-text,
  .temperature-low,
  .weather-descriptor {
    font-size: 14px;
  }

  .current-city-temperature{
    vertical-align: middle;
  }
  
  .weather-emoji,
  .weekday {
    color: rgb(51, 71, 86);
  }
  
  .five-day-forecast {
    text-align: center;
  }
  
  .meteo-parameter-name,
  .units {
    font-size: 14px;
  }

  .units .active {
    cursor: default;
    text-decoration:none;
    font-size: 20px;
  }
  
  .weather-emoji {
    font-size: 24px;
  }

  .icon {
    width: 90px;
  }

  .forecast-icon {
    width: 60px;
  }

  .btn {
    border-color: rgb(51, 71, 86);
    background-color: rgb(255, 255, 255, 0.3);
    transition: ease 150ms;
  }
  
  .btn:hover {
    border-color: rgb(51, 71, 86);
    background-color: rgb(44, 57, 75);
    color: whitesmoke;
  }
  